version: "3.8"
services:
    productservice:
      build: 
        context: "../"
        dockerfile: "./build/dockerfile"
      container_name: productservice
      env_file:
        - ../local.env 
      ports:
        - "8080:8080"
      depends_on:
       - mongo
    
    mongo:
      image: mongo
      container_name: "mongodb"
      restart: always
      env_file:
        - ../local.env
      ports:
        - "27017:27017"

    mongo-seed:
      build: ../mongo-seed
      links:
        - mongo